app_configurar RCDATA "..\\_diversos\\Imagens\\Glyphs\\app_configurar_48x48.png"
app_configurar_hot RCDATA "..\\_diversos\\Imagens\\Glyphs\\app_configurar_48x48-hot.png"
app_sincronizar RCDATA "..\\_diversos\\Imagens\\Glyphs\\app_sincronizar_48x48.png"
app_sincronizar_hot RCDATA "..\\_diversos\\Imagens\\Glyphs\\app_sincronizar_48x48-hot.png"
setting RCDATA "..\\_diversos\\Imagens\\Glyphs\\setting-48x48.png"
synchronize RCDATA "..\\_diversos\\Imagens\\Glyphs\\synchronize-48x48.png"
white_setting RCDATA "..\\_diversos\\Imagens\\Glyphs\\white_setting-48x48.png"
white_synchronize RCDATA "..\\_diversos\\Imagens\\Glyphs\\white_synchronize-48x48.png"
btn_close_24_white RCDATA "..\\_diversos\\Imagens\\Glyphs\\app_close_24x24.png"
btn_close_24_hot RCDATA "..\\_diversos\\Imagens\\Glyphs\\app_close_24x24-hot.png"
btn_close_24_info RCDATA "..\\_diversos\\Imagens\\Glyphs\\app_close_24x24-inf.png"
accesskey RCDATA "..\\_diversos\\Imagens\\Glyphs\\access-key.png"
white_accesskey RCDATA "..\\_diversos\\Imagens\\Glyphs\\white_access-key.png"
webserver RCDATA "..\\_diversos\\Imagens\\Glyphs\\webserver.png"
white_webserver RCDATA "..\\_diversos\\Imagens\\Glyphs\\white_webserver.png"
accesskey_24x24 RCDATA "..\\_diversos\\Imagens\\Glyphs\\access-key-24x24.png"
webserver_24x24 RCDATA "..\\_diversos\\Imagens\\Glyphs\\webserver-24x24.png"
white_accesskey_24x24 RCDATA "..\\_diversos\\Imagens\\Glyphs\\white_access-key-24x24.png"
white_webserver_24x24 RCDATA "..\\_diversos\\Imagens\\Glyphs\\white_webserver-24x24.png"
